name: Test & Release on GitHub

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
      - '[0-9]+.[0-9]+.[0-9]+-[a-z]+[0-9]+'

env:
  DEVELOPER_DIR: /Applications/Xcode_12.5.app/Contents/Developer

jobs:
  test-and-release:
    # Clone of main test workflow
    runs-on: macos-11

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Ruby & Bundle setup
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6
          bundler-cache: true

      - name: Cocoapods cache
        uses: actions/cache@v2
        with:
          path: Pods
          key: ${{ runner.os }}-pods-${{ hashFiles('**/Podfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pods-
      - name: Cocoapods install
        run: |
          bundle exec fastlane run cocoapods

      - name: Java setup
        uses: actions/setup-java@v1
        with:
          java-version: '11'
      - name: WireMock setup
        run: |
          curl https://repo1.maven.org/maven2/com/github/tomakehurst/wiremock-jre8-standalone/2.27.0/wiremock-jre8-standalone-2.27.0.jar -o wiremock.jar -s
          java -jar wiremock.jar --https-port 9099 --root-dir wiremock --https-keystore wiremock/cert/wiremock.jks --keystore-password password --verbose --global-response-templating &

      - name: Format check
        run: |
          bundle exec fastlane format_check

      - name: Test
        run: |
          bundle exec fastlane test

      - name: Tests reports upload
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: tests-reports
          path: |
            fastlane/test_output
            fastlane/functional_output

      # Publish additional steps to test job
      - name: Archive
        run: |
          ./scripts/archive.sh

      - name: Release
        run: |
          bundle exec fastlane release_github ref:${{ github.ref }}
        env:
          FL_GITHUB_RELEASE_API_BEARER: ${{ secrets.GITHUB_TOKEN }}
